.App-content {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}
@media screen and (min-width: 600px){
	.App-content{
		max-width: 600px;
	}
}
.App-title {
	font-size: 20px;
	font-weight: 800;
	padding-top: 40px;
}
.App-issue, .App-issue:visited {
	display: inline-block;
    min-width: 140px;
    line-height: 110px;
    font-size: 22px;
    font-weight: 800;
    background: white;
    border: 2px solid rgb(220,220,220);
    margin: 10px;
    cursor: pointer;
    color: rgb(53,55,54);
    text-decoration: none;
}
.App-issue:hover {
	box-shadow: 2px 2px 0 0 rgba(0,0,0,0.12);
}

